<section>
  <div class="content">
    <h2>Calcu-Bytes</h2>
    <br>
    <br>
    <div class="inputs">
      <table>
        <thead>
          <th>Alto</th>
          <th>Ancho</th>
          <th>Profundidad</th>
        </thead>
        <tbody>
          <td>
            <input type="number" [(ngModel)]="data.h" name="h" (input)="calculator()">
          </td>
          <td>
            <input type="number" [(ngModel)]="data.w" name="w" (input)="calculator()">
          </td>
          <td>
            <input type="number" [(ngModel)]="data.depth" name="depth" (input)="calculator()">
          </td>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <div class="results">
      <table>
        <thead>
          <th>Bits</th>
          <th>Bytes</th>
          <th>Kbytes</th>
          <th>Mbytes</th>
        </thead>
        <tbody>
          <td>{{ this.bits }}</td>
          <td>{{ this.bytes }}</td>
          <td>{{ this.kbytes }}</td>
          <td>{{ this.mbytes }}</td>
        </tbody>
      </table>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
